:root {
  background-color: #dcdcdc;
  --text: #424243;
  --entry-background: #f9f3f3;
  --entry-text: #424243;
  --entry-date: #ffffff;
  --entry-date-background: #72a68b;
  --timeline-bar: #9c9c9c;
  --link-color: #72a68b;
  --link-color-hover: #5b8e74;
  --quicknav-link: #fff;
  --quicknav-box-background: #9c9c9c !important;
  --header: #212529;
}

:root.dark-mode {
  background-color: #131817;
  --text: #4b4b4b;
  --entry-background: #0c0c0c;
  --entry-text: #7a7a7a;
  --entry-date: #a5b5b1;
  --entry-date-background: #192d2a;
  --timeline-bar: #263d35;
  --link-color: #597164;
  --link-color-hover: #475b50;
  --quicknav-link: #b7cac5;
  --quicknav-box-background: #516b64 !important;
  --header: #556360;
}

body {
  background-color: transparent !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px !important;
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  text-align: justify;
}

a,
a:visited,
a:active,
a:link {
  color: var(--link-color);
  text-decoration: none !important;
}

a:hover {
  color: var(--link-color-hover) !important;
}

a.anchor {
  position: relative;
  top: -100px;
}

h1, h2, h5 {
  color: var(--header);
}

ul, ol {
  color: var(--text);
}

.mgt-navbar {
  background-color: #232323 !important;
}

.btn-success {
  background-color: #72a68b !important;
  border-color: #72a68b !important;
}

#donate-btn a,
#donate-btn a:hover {
  color: #fff !important;
}

#header {
  display: block;
  text-align: center;
}

.timeline-bar {
  background: var(--timeline-bar);
  width: 2px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.entry {
  text-align: center;
  background: var(--entry-background);;
  border-radius: 0px;
}
.entry p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--entry-text);
  margin-top: 5px;
  text-align: center;
  min-height: 35px;
}

.entry-img {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.entry-date {
  text-align: center;
  color: var(--entry-date);
  background: var(--entry-date-background);
  height: 40px;
}
.entry-date h1 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  height: 18px;
  margin-top: 10px;
  color: var(--entry-date);
}

.entry-label h1 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  height: 18px;
  margin-top: 10px;
  color: #ffffff;
}

.entry.mgspo {
  border-top: 1px dashed #c4c4c4 !important;
  border-left: 1px dashed #c4c4c4 !important;
  border-bottom: 1px dashed #c4c4c4 !important;
}
/*232323*/
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #72a68b !important;
  border-color: #72a68b !important;
}

.btn-primary:hover {
  background-color: #5b8e74 !important;
}

.hidebuttons {
  position: fixed;
  right: 0px;
  margin-right: 0px;
  bottom: 10px;
  height: 60px;
  z-index: 9999999;
}
.hidebuttons > button {
  color: var(--quicknav-link) !important;
  margin-bottom: 4px !important;
  background: var(--quicknav-box-background) !important;
}

.quicknav {
  position: fixed;
  right: 0px;
  margin-right: 0px;
  bottom: 80px;
  height: 320px;
  z-index: 9999999;
}

.quicknav a {
  color: var(--quicknav-link) !important;
}
.quicknav a:hover {
  color: var(--quicknav-link) !important;
  text-decoration: underline !important;
}

.quicknav-box > span {
  margin-left: 5px;
  text-align: left;
}

.quicknav-box {
  font-size: 12px;
  margin-bottom: 4px;
  width: 100px;
  background: var(--quicknav-box-background) !important;
}


