<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- META -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- STYLE -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        :root {
            {% for label in colors %}
                --{{label}}: {{colors[label]}} ;           
            {% endfor %}
        }

        {% for label in colors %}
        .{{label}}{
            border-right: 6px solid var(--{{label}});
        }
        .{{label}}-label{
            background-color: var(--{{label}});
            height: 40px;
        }
        {% endfor %}
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


    {% if title %}
    <title>Timelnr - {{ title }}</title>
    {% else %}
    <title>Timelnr - MetalGearTimmmmmeline</title>
    {% endif %}
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="#">Offcanvas navbar</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Switch account</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

        <div style="padding-top: 60px"  class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline">
                {% for lang in langs %}
                    {% if curr_lang == lang %}
                        <a class="nav-link disabled" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% else %}
                        <a class="nav-link active" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
        
        <main role="main" class="container no-padding">

        <!-- HEADER -->
        <div class="row">
            <div id="header" class="col-6 mx-auto text-center">
                <img class="img-fluid d-block" src="{{ url_for('static', filename='images/mgt_logo.png') }}">
            </div>
        </div>

        <!-- LANGUAGES -->
        <!--<ul class="nav justify-content-center">
            {% for lang in langs %}
                <li class="nav-item">
                    {% if curr_lang == lang %}
                        <a class="nav-link disabled" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% else %}
                        <a class="nav-link active" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>-->

        <!-- ENTRIES -->
        {% block timeline %}{% endblock %}
        

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>