<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- META -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- STYLE -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        :root {
            {% for label in labels %}
                --{{label.slug}}: {{label.color}} ;           
            {% endfor %}
        }

        {% for label in labels %}
        .{{label.slug}}{
            border-right: 6px solid var(--{{label.slug}});
        }
        .{{label.slug}}-label{
            background-color: var(--{{label.slug}});
            height: 40px;
        }
        {% endfor %}
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


    {% if title %}
    <title>Timelnr - {{ title }}</title>
    {% else %}
    <title>Timelnr - MetalGearTimeline</title>
    {% endif %}
</head>

<body>
        <nav class="navbar bg-dark navbar-dark navbar-expand-sm fixed-top">
            <a class="navbar-brand" href=""><img style="max-width: 100px;" src="{{ url_for('static', filename='images/mgt_logo_xs.png') }}"></a>
            <a class="nav-item nav-link" href="#">Timeline</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% for label in labels %}
                    <a class="dropdown-item" href="#{{ label.slug }}">{{ label.name }}</a>
                {% endfor %}
                </div>
            </div>
            <a class="nav-link nav-item ml-auto" href="#">About MGT</a>
            <a class="nav-link" href="#contribute"><b>♥ DONATE</b></a>
            <a class="nav-link" href="#sources">Sources</a>
            <a class="nav-link" href="#credits">Credits</a>
            <a class="nav-link" href="#press">Press</a>
        </nav>

        <!--<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="#"><img style="max-width:100px; margin-left: 5px;" src="{{ url_for('static', filename='images/mgt_logo_xs.png') }}"></a>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Timeline</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% for label in labels %}
                        <a class="dropdown-item" href="{{ url_for('home', curr_lang=lang )}}">{{ label.name }}</a>
                    {% endfor %}
                    </div>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="#">About MGT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contribute"><b>♥ DONATE</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sources">Sources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#credits">Credits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#press">Press</a>
                </li>
                </ul>
            </div>
        </nav>-->

        <!--<div style="padding-top: 80px"  class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline">
                {% for lang in langs %}
                    {% if curr_lang == lang %}
                        <a class="nav-link disabled" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% else %}
                        <a class="nav-link active" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>-->

        <main role="main" class="container no-padding">

        <!-- HEADER -->
        <div class="row mt-5">
            <div id="header" class="col-6 mx-auto text-center mt-5 mb-3">
                <img class="img-fluid d-block" src="{{ url_for('static', filename='images/mgt_logo.png') }}">
            </div>
        </div>

        <!-- LANGUAGES -->

        <div class="row d-flex justify-content-center mb-4">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for lang in langs %}
                        <a class="nav-link active" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--<ul class="nav justify-content-center">
            {% for lang in langs %}
                <li class="nav-item">
                    {% if curr_lang == lang %}
                        <a class="nav-link disabled" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% else %}
                        <a class="nav-link active" href="{{ url_for('home', curr_lang=lang )}}">{{ langs[lang] }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>-->

        <!-- ENTRIES -->
        {% block timeline %}{% endblock %}
        

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>