{% extends "base.html" %}

{% block timeline %}
    {% for entry in entries %}
        <div class="row">
        
            <!-- Year -->
            {% if entry.year != '' %}
                <div class="col-md-1 offset-md-1 entry-date">
                    <h1>{{ entry.year }}</h1>
                </div>
            {% else %}
                <div class="col-md-1 offset-md-1 col-lg-offset-1">
                </div> 
            {% endif %}

            <!-- Event -->
            <div class="col-8 entry {{ entry.label.slug }}">
                <p>{{ entry.event.get(curr_lang) }}</p>
            </div>

            <!-- Label -->
            {% if entry.game != '' %}
            <div class="col-md-1 entry-label {{ entry.label.slug }}-label">
                <h1>{{ entry.label.name }}</h1>
            </div>
            {% endif %}
        </div> 

        <!-- Image -->
        {% if entry.image != '' %}
            <div class="row">
                <div class="col-8 offset-md-2 entry-img text-center {{ entry.label.slug }}">
                    <img class="img-fluid d-block" src="{{ url_for('static', filename='images/' + entry.image) }}">
                </div>
            </div>
        {% endif %}
        </div> 
        <!-- Connector -->
        <div class="row">
                <div class="timeline-bar"></div>
        </div> 
    {% endfor %}
    <div class="row">
        <div class="col-8 offset-md-2 entry">
            <p>The end</p>
            <a name="about"></a>
            <a name="contribute"></a>
        </div>
    </div>
{% endblock timeline %}